@{
    ViewData["Title"] = ViewData["Message"];
}

<div class="row">
    <div class="col">
        <partial name="_CategoriesPartial" />
    </div>
    <div class="col underConstruction">
            <img  src="~/images/UnderConstruction.png" />
            <p>Under Construction</p>        
    </div>
</div>


