@{
    ViewData["Title"] = ViewData["Message"];
}
<div class="container">    
    <div class="row">
        <div class="col-md-2">
            <partial name="_CategoriesPartial" />
        </div>
        <div class="col-md-10">
            <partial name="_BodyPartial" />
        </div>
    </div>        
</div>
