/*
    Blackberry playbook
*/

@media (max-device-width: 1024px) and (orientation: landscape) {
    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: Calibri;
        font-size: 10px;
        overflow-x: auto;
        overflow-y: auto;
    }

    .carousel-inner > .item {
        position: relative;
        max-height: 50px;
        width: 50px;
    }

    .carousel-inner .carousel-item img {
        width: 160px;
        height: 160px;
        border-radius: 50%;
    }

    .carousel-inner > .item {
        position: relative;
        height: 50%;
        width: 100%;
    }

    .carousel-caption > a > p {
        transform: translateY(20px);
        transform: translateX(0px);
        font-size: 1.75rem;
        font-weight: bold;
    }

    .categoryHeading {
        font-size: 2rem;
        font-weight: bold;
        padding: 0;
        margin: 0;
    }

    .category {
        margin: 100px 0 0 0;
        padding: 0;
    }

        .category ul {
            font-size: 1rem;
            list-style: circle;
            margin: 0;
            padding: 0;
        }

            .category ul li {
                font-size: 1.75rem;
                line-height: 200%;
                margin: 0;
                padding: 0;
            }

                .category ul li a {
                    font-size: 2rem;
                }

    .underConstruction {
        margin-top: -400px;
    }

    .logo {
        width: 80px;
        height: 80px;
    }

    .nav-link {
        font-size: 2rem;
        text-align: right;
        margin: -60px 50px 10px 0;
        line-height: 200%;
    }

    .navbar-toggler {
        padding: 0 0 0 755px;
        font-size: 2rem;
        line-height: 100%;
    }

    .products {
        margin: -300px 0 0 150px;
    }

    productRow {
        width: 100px;
        height: 200px;
        margin: 0;
        padding: 0;
        line-height: 0;
    }

    .productImage {
        margin-left: 75px;
        width: 100%;
        height: 100%;
    }

    .productSupplier {
        font-size: .75rem;
    }

    .productName {
        font-size: .75rem;
        font-weight: bold;
    }

    .productDescription {
        font-size: .75rem;
    }

    .productPara {
        line-height: 90%;
    }

    .productFrontPageRow1 {
        width: 600px;
        text-align: center;
        margin: -400px 0 0 200px;
        padding: 0;
    }

    .productFrontPageRow2 {
        width: 600px;
        text-align: center;
        margin: 0 0 0 200px;
        padding: 0;
        height: 30px;
    }

    .productFrontPageRow3 {
        width: 600px;
        text-align: center;
        padding: 0;
        margin: 1400px 0 0 100px;
    }

    .FrontPageImageRow1 {
        text-align: center;
        margin-left: 75px;
        width: 320px;
        height: 320px;
        padding-bottom: 10px;
    }

    .FrontPageImageRow2 {
        width: 120px;
        height: 60px;
        padding-bottom: 10px;
    }

    .FrontPageImageLink {
        font-size: 2rem;
        width: 100%;
        text-align: center;
    }

        .FrontPageImageLink h4 {
            font-size: 2rem;
            width: 600px;
            text-align: center;
        }

    .FrontPageWideImage {
        width: 600px;
        height: 100px;
        padding-bottom: 10px;
    }

    footer {
        padding: 0;
        margin: 0;
    }

    .footer {
        padding: 0;
        margin: 0;
        height: 5px;
        width: 100%;
        vertical-align: top;
    }

    .copyright {
        padding: 0;
        margin: 0;
        height: 5px;
        text-align: left;
        width: 100%;
        font-size: .75rem;
        font-weight: bold;
    }
}


@media (max-device-width: 600px) and (orientation: portrait) {
    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: Calibri;
        font-size: 16px;
        overflow-x: auto;
        overflow-y: auto;
    }

    .carousel-inner .carousel-item img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    .carousel-inner > .item {
        /*padding-top: 30px;*/
        position: relative;
        height: 100%;
        width: 100%;
    }

    .carousel-caption > a > p {
        margin: 40px 0 0 40px;
        font-size: .75rem;
        font-weight: bold;
    }

    .categoryHeading {
        font-size: 1rem;
        font-weight: bold;
        padding: 0;
        margin: -75px 0 0 0;
    }

    .category {
        margin: 100px 0 0 0;
        padding: 0;
    }

        .category ul {
            font-size: 1rem;
            list-style: circle;
            margin: 0;
            padding: 0;
        }

            .category ul li {
                font-size: 1rem;
                line-height: 200%;
                margin: 0;
                padding: 0;
            }

                .category ul li a {
                    font-size: 1rem;
                    line-height: 1rem;
                    margin: 0;
                    padding: -10px 0 0 0;
                }

    .logo {
        width: 80px;
        height: 80px;
        margin-left: 20px;
    }

    .navbar-toggler {
        float: right;
    }

    .underConstruction {
        margin-top: -300px;
    }

    .nav-link {
        margin: -80px 0 10px -35px;
        font-size: 1.2rem;
        text-align: right;
        width: 100%;
    }

    .products {
        margin: -200px 0 0 100px;
    }

    productRow {
        width: 100px;
        height: 200px;
        margin: 0;
        padding: 0;
        line-height: 0;
    }

    .productImage {
        margin-left: 75px;
        width: 100%;
        height: 100%;
    }

    .productSupplier {
        font-size: .75rem;
    }

    .productName {
        font-size: .75rem;
        font-weight: bold;
    }

    .productDescription {
        font-size: .75rem;
    }

    .productPara {
        line-height: 90%;
    }

    .productFrontPageRow1 {
        margin: -350px 0 0 100px;
        padding: 0;
        /*width: 50px;*/
    }

    .productFrontPageRow2 {
        margin: 0 0 0 100px;
        /*width: 50px;*/
        height: 30px;
    }

    .productFrontPageRow3 {
        /*padding: 100px 0 0 0;*/
        margin: 800px 0 0 100px;
    }

    .FrontPageImageRow1 {
        text-align: center;
        margin-left: 75px;
        width: 160px;
        height: 160px;
    }

    .FrontPageImageRow2 {
        width: 120px;
        height: 60px;
    }

    .FrontPageImageLink {
        font-size: .8rem;
    }

    .FrontPageWideImage {
        width: 320px;
        height: 50px;
        padding-bottom: 10px;
    }

    footer {
        padding: 0;
        margin: 0;
    }

    .footer {
        padding: 0;
        margin: 0;
        height: 5px;
        width: 100%;
        vertical-align: top;
    }

    .copyright {
        padding: 0;
        margin: 0;
        height: 5px;
        text-align: left;
        width: 100%;
        font-size: .75rem;
        font-weight: bold;
    }
}

/* 
  Based on Huawei Mate8 ROI-L02  
*/
@media only screen and (max-width:480px) and (max-height: 1920px) and (orientation:portrait) {

    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: Calibri;
        font-size: 9px;
        overflow-x: auto;
        overflow-y: auto;
    }

    .carousel-inner .carousel-item img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }

    .carousel-inner > .item {
        /*padding-top: 30px;*/
        position: relative;
        height: 100%;
        width: 100%;
    }

    .carousel-caption > a > p {
        margin: 40px 0 0 40px;
        font-size: .75rem;
        font-weight: bold;
    }

    .categoryHeading {
        font-size: 1rem;
        font-weight: bold;
        padding: 0;
        margin: -75px 0 0 0;
    }

    .category {
        margin: 100px 0 0 0;
        padding: 0;
    }

        .category ul {
            font-size: 1rem;
            list-style: circle;
            margin: 0;
            padding: 0;
        }

            .category ul li {
                font-size: 1rem;
                line-height: 200%;
                margin: 0;
                padding: 0;
            }

                .category ul li a {
                    font-size: 1rem;
                    line-height: 1rem;
                    margin: 0;
                    padding: -10px 0 0 0;
                }

    .navbar {
        padding: 0;
        margin: 0;
    }

    .nav-link {
        width: 100%;
        border: none;
        margin: -10px 0 0 0;
        padding: 0;
        font-size: 1rem;
        text-align: right;
    }

    .underConstruction {
        margin-top: 100px;
    }

        .underConstruction > img {
            width: 100px;
            height: 100px;
        }

    .logo {
        width: 40px;
        height: 40px;
        margin-left: 20px;
    }

    .products {
        margin: -200px 0 0 100px;
    }

    productRow {
        width: 100px;
        height: 200px;
        margin: 0;
        padding: 0;
        line-height: 0;
    }

    .productImage {
        margin-left: 75px;
        width: 100%;
        height: 100%;
    }

    .productSupplier {
        font-size: .75rem;
    }

    .productName {
        font-size: .75rem;
        font-weight: bold;
    }

    .productDescription {
        font-size: .75rem;
    }

    .productPara {
        line-height: 90%;
    }

    .productFrontPageRow1 {
        margin: -200px 0 0 100px;
        padding: 0;
        /*width: 50px;*/
    }

    .productFrontPageRow2 {
        margin: 0 0 0 100px;
        /*width: 50px;*/
        height: 30px;
    }

    .productFrontPageRow3 {
        /*padding: 100px 0 0 0;*/
        margin: 300px 0 0 100px;
    }

    .FrontPageImageRow1 {
        text-align: center;
        margin-left: 75px;
        width: 60px;
        height: 60px;
    }

    .FrontPageImageRow2 {
        width: 120px;
        height: 60px;
    }

    .FrontPageImageLink {
        font-size: .8rem;
    }

    .FrontPageWideImage {
        width: 100%;
        height: 100%;
    }

    footer {
        padding: 0;
        margin: 0;
    }

    .footer {
        padding: 0;
        margin: 0;
        height: 5px;
        width: 100%;
        vertical-align: top;
    }

    .copyright {
        padding: 0;
        margin: 0;
        height: 5px;
        text-align: left;
        width: 100%;
        font-size: .75rem;
        font-weight: bold;
    }
}

@media only screen and (max-width:1920px) and (max-height: 480px) and (orientation:landscape) {

    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: Calibri;
        font-size: 10px;
        overflow-x: auto;
        overflow-y: auto;
    }

    .carousel-inner > .item {
        position: relative;
        max-height: 50px;
        width: 50px;
    }

    .carousel-inner .carousel-item img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }

    .carousel-inner > .item {
        position: relative;
        height: 50%;
        width: 100%;
    }

    .carousel-caption > a > p {
        transform: translateY(20px);
        transform: translateX(0px);
        font-size: 1.1rem;
        font-weight: bold;
    }

    .categoryHeading {
        font-size: 1rem;
        font-weight: bold;
        padding: 0;
        margin: -75px 0 0 0;
    }

    .category {
        margin: 100px 0 0 0;
        padding: 0;
    }

        .category ul {
            list-style: circle;
            margin: 0;
            padding: 0;
        }

            .category ul li {
                margin: 0;
                padding: 0;
            }

                .category ul li a {
                    font-size: 1rem;
                    line-height: 125%;
                }

    .nav-link {
        font-size: 2rem;
        text-align: right;
        /*margin: -60px 0 10px 20px;*/
        line-height: 200%;
        border: 0;
        width: 100%;
    }

    nav,
    .navbar-nav{
        border:0;
        margin:0;
        padding:0;
    }

    .navbar-toggler {
        border: 0;
        margin:-60px 0 0 0;
        padding: 0 0 0 500px;
        font-size: 2rem;
        line-height: 100%;
    }

    .underConstruction {
        margin-top: 100px;
    }

        .underConstruction > img {
            width: 200px;
            height: 200px;
        }

    .logo {
        width: 80px;
        height: 80px;
    }

    .products {
        margin: -300px 0 0 150px;
    }

    productRow {
        width: 100px;
        height: 200px;
        margin: 0;
        padding: 0;
        line-height: 0;
    }

    .productImage {
        margin-left: 75px;
        width: 100%;
        height: 100%;
    }

    .productSupplier {
        font-size: .75rem;
    }

    .productName {
        font-size: .75rem;
        font-weight: bold;
    }

    .productDescription {
        font-size: .75rem;
    }

    .productPara {
        line-height: 90%;
    }

    .productFrontPageRow1 {
        margin: -350px 0 0 100px;
        padding: 0;
        /*width: 50px;*/
    }

    .productFrontPageRow2 {
        margin: 0 0 0 100px;
        /*width: 50px;*/
        height: 30px;
    }

    .productFrontPageRow3 {
        margin: 700px 0 0 100px;
    }

    .FrontPageImageRow1 {
        text-align: center;
        margin-left: 75px;
        width: 160px;
        height: 160px;
        padding-bottom: 10px;
    }

    .FrontPageImageRow2 {
        width: 120px;
        height: 60px;
        padding-bottom: 10px;
    }

    .FrontPageImageLink {
        font-size: 1.5rem;
        margin-top: -5px;
    }

    .FrontPageWideImage {
        width: 100%;
        height: 100%;
        padding-bottom: 10px;
    }

    footer {
        padding: 0;
        margin: 0;
    }

    .footer {
        padding: 0;
        margin: 0;
        height: 5px;
        width: 100%;
        vertical-align: top;
    }

    .copyright {
        padding: 0;
        margin: 0;
        height: 5px;
        text-align: left;
        width: 100%;
        font-size: .75rem;
        font-weight: bold;
    }
}
